<div class="eaFlowInstanceDetails-wEventDetails">
    <div class="eaFlowInstanceDetails-wEventDetails-group">
        <div class="eaFlowInstanceDetails-wEventDetails-group-header">
            <div class="eaFlowInstanceDetails-wEventDetails-group-header-section">
                <h2>{{dictionary.events.eventDetails.header}}</h2>
            </div>
        </div>
        <div class="eaFlowInstanceDetails-wEventDetails-group-severity ebBgColor_red">
            <div class="eaFlowInstanceDetails-wEventDetails-group-severity-bg">
                <i class="eaFlowInstanceDetails-wEventDetails-group-severity-icon ebIcon"></i>
            </div>
            <div class="eaFlowInstanceDetails-wEventDetails-group-severity-span">
                <span class="eaFlowInstanceDetails-wEventDetails-group-severity-data"></span></div>
        </div>

        <div class="eaFlowInstanceDetails-wEventDetails-group-sub-title">
            <label class="eaFlowInstanceDetails-wEventDetails-group-sub-title-label">{{dictionary.events.eventDetails.time}}</label>
        </div>
        <div class="eaFlowInstanceDetails-wEventDetails-group-time">
            <p class="eaFlowInstanceDetails-wEventDetails-group-time-data"></p>
        </div>
        <div class="eaFlowInstanceDetails-wEventDetails-group-sub-title">
            <label class="eaFlowInstanceDetails-wEventDetails-group-sub-title-label">{{dictionary.events.eventDetails.synopsis}}</label>
        </div>
        <div class="eaFlowInstanceDetails-wEventDetails-group-synopsis">
            <p class="eaFlowInstanceDetails-wEventDetails-group-synopsis-data"></p>
        </div>
        <div class="eaFlowInstanceDetails-wEventDetails-group-sub-title">
            <label class="eaFlowInstanceDetails-wEventDetails-group-sub-title-label">{{dictionary.events.eventDetails.target}}</label>
        </div>
        <div class="eaFlowInstanceDetails-wEventDetails-group-target">
            <p class="eaFlowInstanceDetails-wEventDetails-group-target-data"></p>
        </div>
        <div class="eaFlowInstanceDetails-wEventDetails-group-sub-title">
            <label class="eaFlowInstanceDetails-wEventDetails-group-sub-title-label">{{dictionary.events.eventDetails.details}}</label>
        </div>
        <div class="eaFlowInstanceDetails-wEventDetails-group-details">
            <p class="eaFlowInstanceDetails-wEventDetails-group-details-data"></p>
        </div>
    </div>
</div>


