<div class="eaFlowInstanceDetails-wEventSeveritiesSelector">
    <ul class="eaFlowInstanceDetails-wEventSeveritiesSelector-list">
        <li class="eaFlowInstanceDetails-wEventSeveritiesSelector-item eaFlowInstanceDetails-wEventSeveritiesSelector-item-info"
            title="{{dictionary.severities.info}}">
            <i class="ebIcon eaFlowInstanceDetails-wEventSeveritiesSelector-item-icon ebIcon_infoMsgIndicator"></i>
            <i class="ebIcon eaFlowInstanceDetails-wEventSeveritiesSelector-item-icon_hidden ebIcon_info_white"></i>
            <span class="eaFlowInstanceDetails-wEventSeveritiesSelector-item-value">
                <span class="eaFlowInstanceDetails-wEventSeveritiesSelector-item-labelText">{{dictionary.severities.info}}</span>
            </span>
        </li>
        <li class="eaFlowInstanceDetails-wEventSeveritiesSelector-item eaFlowInstanceDetails-wEventSeveritiesSelector-item-warning"
            title="{{dictionary.severities.warn}}">
            <i class="ebIcon eaFlowInstanceDetails-wEventSeveritiesSelector-item-icon ebIcon_warning"></i>
            <i class="ebIcon eaFlowInstanceDetails-wEventSeveritiesSelector-item-icon_hidden ebIcon_warning_white"></i>
            <span class="eaFlowInstanceDetails-wEventSeveritiesSelector-item-value">
                <span class="eaFlowInstanceDetails-wEventSeveritiesSelector-item-labelText">{{dictionary.severities.warn}}</span>
            </span>
        </li>
        <li class="eaFlowInstanceDetails-wEventSeveritiesSelector-item eaFlowInstanceDetails-wEventSeveritiesSelector-item-error"
            title="{{dictionary.severities.error}}">
            <i class="ebIcon eaFlowInstanceDetails-wEventSeveritiesSelector-item-icon ebIcon_error"></i>
            <i class="ebIcon eaFlowInstanceDetails-wEventSeveritiesSelector-item-icon_hidden ebIcon_close_white"></i>
            <span class="eaFlowInstanceDetails-wEventSeveritiesSelector-item-value">
                <span class="eaFlowInstanceDetails-wEventSeveritiesSelector-item-labelText">{{dictionary.severities.error}}</span>
            </span>
        </li>
    </ul>
</div>