<div class="eaFlowAutomation-statisticsHolder">
    <h2 class="eaFlowAutomation-statisticsHolder-defaultHeader">{{dictionary.statisticsHeaders.summary}}</h2>
    <div class="eaFlowAutomation-statisticsHolder-stats">

        <div class="eaFlowAutomation-statisticsHolder-withIcon">
            <i class="ebIcon ebIcon_large ebIcon_user eaFlowAutomation-statisticsHolder-symbol"></i>
            <i class="ebIcon ebIcon_large ebIcon_user eaFlowAutomation-statisticsHolder-symbol-small"></i>
            <div class="eaFlowAutomation-statisticsHolder-statsBlock eaFlowAutomation-statisticsHolder-statsBlock-withIcon">
                <div class="eaFlowAutomation-statisticsHolder-userTasksHeader eaFlowAutomation-statisticsHolder-header">{{dictionary.statisticsHeaders.userTasks}}</div>
                <div class="eaFlowAutomation-statisticsHolder-userTasksNumber eaFlowAutomation-statisticsHolder-number"></div>
            </div>
        </div>
        <div class="eaFlowAutomation-statisticsHolder-statsBlock">
            <div class="eaFlowAutomation-statisticsHolder-setUpHeader eaFlowAutomation-statisticsHolder-header">{{dictionary.statisticsHeaders.setUp}}</div>
            <div class="eaFlowAutomation-statisticsHolder-setUpNumber eaFlowAutomation-statisticsHolder-number"></div>
        </div>
        <div class="eaFlowAutomation-statisticsHolder-statsBlock">
            <div class="eaFlowAutomation-statisticsHolder-executingHeader eaFlowAutomation-statisticsHolder-header">{{dictionary.statisticsHeaders.executing}}</div>
            <div class="eaFlowAutomation-statisticsHolder-executingNumber eaFlowAutomation-statisticsHolder-number"></div>
        </div>
        <div class="eaFlowAutomation-statisticsHolder-statsBlock">
            <div class="eaFlowAutomation-statisticsHolder-executedHeader eaFlowAutomation-statisticsHolder-header">{{dictionary.statisticsHeaders.executed}}</div>
            <div class="eaFlowAutomation-statisticsHolder-executedNumber eaFlowAutomation-statisticsHolder-number"></div>
        </div>

        <div class="eaFlowAutomation-statisticsHolder-statsBlock">
            <div class="eaFlowAutomation-statisticsHolder-stoppedHeader eaFlowAutomation-statisticsHolder-header">{{dictionary.statisticsHeaders.stopped}}</div>
            <div class="eaFlowAutomation-statisticsHolder-stoppedNumber eaFlowAutomation-statisticsHolder-number"></div>
        </div>

        <div class="eaFlowAutomation-statisticsHolder-statsBlock">
            <div class="eaFlowAutomation-statisticsHolder-failedHeader eaFlowAutomation-statisticsHolder-header">{{dictionary.statisticsHeaders.failed}}</div>
            <div class="eaFlowAutomation-statisticsHolder-failedNumber eaFlowAutomation-statisticsHolder-number"></div>
        </div>
    </div>
</div>