<div class="eaFlowInstanceDetails-wUserTaskSummary" style="width: 100%;">
    <div class="eaFlowInstanceDetails-wUserTaskSummary-summary eaFlowInstanceDetails-wUserTaskSummary-title-border">
        <div class="eaFlowInstanceDetails-wUserTaskSummary-summary-div-principal">
            <h2 class="eaFlowInstanceDetails-wUserTaskSummary-summary-name">{{Dictionary.notApplicable}}</h2>
        </div>
        <div class="eaFlowInstanceDetails-wUserTaskSummary-summary-div-version">
            <span class="ebText">{{Dictionary.userTask.executionSummary.flowVersion}}</span>
            <span class="ebText_alternative eaFlowInstanceDetails-wUserTaskSummary-summary-version">{{Dictionary.notApplicable}}</span>
        </div>
        <div class="eaFlowInstanceDetails-wUserTaskSummary-summary-div-flow">
            <span class="ebText">{{Dictionary.userTask.executionSummary.flowName}}</span>
            <span class="ebText_alternative eaFlowInstanceDetails-wUserTaskSummary-summary-flow">{{Dictionary.notApplicable}}</span>
        </div>
    </div>

    <div class="eaFlowInstanceDetails-wUserTaskSummary-summaryData">
        <ul class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-list">
            <li class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-listItem">
                <div class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-dataDiv ">
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-label eaFlowInstanceDetails-wUserTaskSummary-labelStyle">{{Dictionary.userTask.executionSummary.state}}</span>
                    <div>
                        <i class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-dataDiv-stateIcon ebIcon ebIcon_small ebIcon_invalid"
                           style="display: none"></i>
                        <span class="eaFlowInstanceDetails-wUserTaskSummary-status-state
                       ebText_lead eaFlowInstanceDetails-wUserTaskSummary-status-text ">{{Dictionary.notApplicable}}</span>
                    </div>
                </div>
            </li>

            <li class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-listItem">
                <div class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-dataDiv ">
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-label eaFlowInstanceDetails-wUserTaskSummary-labelStyle">{{Dictionary.userTask.executionSummary.startTime}}</span>
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-status-start eaFlowInstanceDetails-wUserTaskSummary-status-text
                       ebText_lead ">{{Dictionary.notApplicable}}</span>
                </div>
            </li>


            <li class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-listItem">
                <div class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-dataDiv ">
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-label eaFlowInstanceDetails-wUserTaskSummary-labelStyle">{{Dictionary.userTask.executionSummary.endTime}}</span>
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-status-end eaFlowInstanceDetails-wUserTaskSummary-status-text
                        ebText_lead ">{{Dictionary.notApplicable}}</span>
                </div>
            </li>

            <li class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-listItem">
                <div class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-dataDiv ">
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-label eaFlowInstanceDetails-wUserTaskSummary-labelStyle">{{Dictionary.userTask.executionSummary.startedBy}}</span>
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-status-started-by eaFlowInstanceDetails-wUserTaskSummary-status-text
                        ebText_lead ">{{Dictionary.notApplicable}}</span>
                </div>
            </li>

            <li class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-listItem">
                <div class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-dataDiv ">
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-summaryData-label eaFlowInstanceDetails-wUserTaskSummary-labelStyle">{{Dictionary.userTask.executionSummary.summaryReport}}</span>
                    <span class="eaFlowInstanceDetails-wUserTaskSummary-status-result eaFlowInstanceDetails-wUserTaskSummary-status-text
                        ebText_lead ">{{Dictionary.notApplicable}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
