<div class="eaFlowInstanceDetails-wEventTable">
    <div class="eaFlowInstanceDetails-wEventTable-loader"></div>
    <div class="eaFlowInstanceDetails-wEventTable-header">
        <div class="eaFlowInstanceDetails-wEventTable-header-section">
            <h2 class="eaFlowInstanceDetails-wEventTable-header-section-title">{{ dictionary.events.header}}</h2>
            <p class="eaFlowInstanceDetails-wEventTable-header-section-title-count"></p>

            <span class="eaFlowInstanceDetails-wEventTable-header-section-title-separator"></span>
            <label class="eaFlowInstanceDetails-wEventTable-header-section-title-selected-label">{{dictionary.events.filter.selected}}</label>
            <span class="eaFlowInstanceDetails-wEventTable-header-section-title-clearSelection-separator">-</span>
            <a class="eaFlowInstanceDetails-wEventTable-header-section-title-clearSelection-link">{{dictionary.events.filter.clear}}</a>
        </div>

        <div class="eaFlowInstanceDetails-wEventTable-flyOut">
            <div class="eaFlowInstanceDetails-wEventTable-flyOut-button"></div>
        </div>

        <div class="ebText eaFlowInstanceDetails-wEventTable-severities">
            <div class="eaFlowInstanceDetails-wEventTable-severities-selector"></div>
        </div>

        <div class="ebText eaFlowInstanceDetails-wEventTable-endDateTime">
            <div class="eaFlowInstanceDetails-wEventTable-endDateTime-selector"></div>
        </div>
        <div class="ebText eaFlowInstanceDetails-wEventTable-startDateTime">
            <div class="eaFlowInstanceDetails-wEventTable-startDateTime-selector"></div>
        </div>

        <div class="eaFlowInstanceDetails-wEventTable-refresh">
            <div class="eaFlowInstanceDetails-wEventTable-refresh-title">{{dictionary.events.lastRefreshed}}</div>
            <div class="eaFlowInstanceDetails-wEventTable-refresh-refreshedTime">{{dictionary.events.now}}</div>
            <div class="eaFlowInstanceDetails-wEventTable-refresh-button"></div>
        </div>

        <div class="eaFlowInstanceDetails-wEventTable-header-clear"></div>

    </div>

    <div class="eaFlowInstanceDetails-wEventTable-table"></div>
</div>